<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MvcAuth-20190112033131.mdf;Initial Catalog=aspnet-MvcAuth-20190112033131;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>